{include file="common/top"}


<div class="main">
    <div class="bt1-5">
        <p>
            律所介绍 <span>所在位置:网站首页 > <a href="">律所介绍</a></span>
        </p>
    </div>

    <div class="gs1-3">
      {$profile.jsao_content}
    </div>

    <div class="gs1-4">
        <div class="gs1-5 flleft">
            <h1>仁爱</h1>
            <p>国际化的大型综合律师事务所</p>
        </div>
        <div class="gs1-5 flleft">
            <h1>专业</h1>
            <p>国际化的大型综合律师事务所</p>
        </div>
        <div class="gs1-5 flleft">
            <h1>责任</h1>
            <p>国际化的大型综合律师事务所</p>
        </div>
    </div>

    <div class="bt1-6">加盟热线</div>
    <div class="jm1">
        <div class="gs1-7">
            <div class="gs1-6">
                <img src="__INDEX__/image/1_0000_-5.png" alt="">
                <h3>地址</h3>
                广州市天河区财富广场西塔15楼整层
            </div>
            <div class="gs1-6" style="width: 34%;">
                <img src="__INDEX__/image/0009.png" alt="">
                <h3>联系电话</h3>
                4008-0303-28
            </div>
        </div>
        <div class="gs1-8">
            <div class="gs1-6">
                <img src="__INDEX__/image/0008.png" alt="">
                <h3>刘先生</h3>
                18818862042
            </div>
            <div class="gs1-6">
                <img src="__INDEX__/image/0008.png" alt="">
                <h3>黄小姐</h3>
                13903016592
            </div>
            <div class="gs1-6">
                <img src="__INDEX__/image/0008.png" alt="">
                <h3>陈小姐</h3>
                13903015308
            </div>
        </div>

        <img src="__INDEX__/image/0007.png" style="width: 100%;" alt="">

    </div>

</div>



{include file="common/bottom"}
<script>

    $('.head1-2 ul li:nth-child(2)').addClass('amid');

</script>



