{include file="common/top"}



<div class="main">
    <div class="bt1-5">
        <p>
            律所介绍 <span>所在位置:网站首页 > <a href="">律所介绍</a></span>
        </p>
    </div>
    <div class="js1-title">
        <div class="js1-img">01</div>
        <div class="js1-p">
            物业清收市场
        </div>
    </div>
    <div class="js1-0">
        <img src="__INDEX__/image/WechatIMG62.png"  alt="">
        <p>
            根据2017物业行业营业收入高达6007.2 亿元，从
            2013年开始基于全国房地产业年竣工率在13.5％的
            情况下，未来5~10年将有年平均3~5亿平方米的房屋
            面积得以竣工并转化成潜在的物业管理面积。综合计
            算可知，物业清收市场每年损失都将超过800亿人民
            币！市场对于物业清收的需求巨大，物业公司的生存
            和发展也面临严峻问题。
        </p>
    </div>
    <div class="js1-title">
        <div class="js1-img">02</div>
        <div class="js1-p">
            合作模式
        </div>
    </div>
    <div class="js1-0">
        <img src="__INDEX__/image/WechatIMG63.png"  alt="">
        <div class="js1-1">
            <div class="js1-1-img">
                <img src="__INDEX__/image/0013.png" alt="">
            </div>
            <div class="js1-2">
                门槛低,投资少!
            </div>
        </div>
        <div class="js1-1">
            <div class="js1-1-img">
                <img src="__INDEX__/image/0013.png" alt="">
            </div>
            <div class="js1-2">
                市场大,易操作,回款高,风险低!
            </div>
        </div>
        <div class="js1-1">
            <div class="js1-1-img">
                <img src="__INDEX__/image/0013.png" alt="">
            </div>
            <div class="js1-2">
                物业服务行业的领航品牌,送你踏上成功之路!
            </div>
        </div>
    </div>
    <div class="js1-title" style="margin-top: 65px;">
        <div class="js1-img">03</div>
        <div class="js1-p">
            专属8大支持体系
        </div>
    </div>
    <div class="tixi1-0">
        <img src="__INDEX__/image/WechatIMG64.png" alt="">
    </div>
    <div class="js1-title" style="">
        <div class="js1-img">04</div>
        <div class="js1-p">
            应力分析表
        </div>
    </div>
    <div class="yli1-0">
        <img src="__INDEX__/image/WechatIMG67.png" alt="">
        <img src="__INDEX__/image/WechatIMG66.png" alt="">
        <img src="__INDEX__/image/WechatIMG65.png" alt="">
    </div>
</div>






{include file="common/bottom"}

<script>

    $('.head1-2 ul li:nth-child(3)').addClass('amid');

</script>


