<div class="head">
    <div class="main head1-1">
        <img class="" src="__INDEX__/image/logo.png" style="width: 260px;" alt="">
        <div class="head1-0 flright">
            <img src="__INDEX__/image/10000-1.png"  alt="">
            <div class="flright">在线咨询</div>
        </div>
        <div class="head1-0 flright">
            <img src="__INDEX__/image/1_0001108.png" style="margin-top: 2px;" alt="">
            <div class="flright">4408-0303-28</div>
        </div>
        <div class="head1-2">
            <ul>
                <li><a href="{:url('index/index/index')}">首页</a></li>
                <li><a href="{:url('index/index/profile')}">律所介绍</a></li>
                <li><a href="{:url('index/index/xmews')}">项目介绍</a></li>
                <li><a href="{:url('index/index/news')}">行业动态</a></li>
                <li><a href="{:url('index/index/jiameng')}">招商合作</a></li>
                <li><a href="{:url('admin/login/login')}">内部管理</a></li>
            </ul>
        </div>
    </div>
</div>